* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

.mainbox {
    width: 300px;
    border: 2px solid;
    border-radius: 5%;
    overflow: hidden;
}

.headpart {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right bottom, #269fec, #16abef, #1bb7ef, #30c2ef, #47cdee, #35c9f1, #21c4f5, #00bff8, #00a6fe, #0089fd, #3866f0, #7832d3);
    position: relative;
    overflow: hidden;
}

.headpart::before {
    content: '';
    width: 60%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: -25px;
    left: -14px;
    z-index: 1;
    transform: rotate(20deg);
}

.headpart::after {
    content: '';
    width: 60%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: -25px;
    right: -14px;
    z-index: 1;
    transform: rotate(-20deg);
}

.headpart h1 {
    text-align: center;
    padding-top: 15px;
}

.headpart span {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.mainbox ul {
    font-size: 20px;
    /* text-align: center; */
    margin: auto;
    padding: 0;
    margin: 20px 0 20px;
}

.mainbox li {
    border-top: 1px solid;
    list-style-type: none;
}

.mainbox i {
    padding-left: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: red;
}

.btn_footer {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right bottom, #269fec, #16abef, #1bb7ef, #30c2ef, #47cdee, #35c9f1, #21c4f5, #00bff8, #00a6fe, #0089fd, #3866f0, #7832d3);
}